@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(242, 242, 242) !important;
}

@media (min-width: 1400px) {
    .container.header {
        max-width: 70% !important;
    }
}

.titulo-veiculos {
    width: 100%;
    font-size: 40px;
    color: #232322;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: black;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 60px;
}

.img-veiculo {
    max-height: 10.5em; /* Substitua 200px pelo valor desejado */
    width: auto; /* Garante que a largura seja ajustada proporcionalmente à altura */
}

.justify-content-center {
    width: 144%;
}

.container.header {
    margin: 0;
    padding: 0;
}

a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-body-emphasis.text-decoration-none {
    margin-right: 50% !important;
}

/*NÃO TA FUNCUINANDO E TO BRAVA JA COM ESSE TREM*/
/*NÃO VOU MEXER NESSE AGORA*/
.mb-4 {
    margin-bottom: 0px !important;
}

.py-3 {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
    margin: 0px !important;
    border: none !important;
    background-color: white;
}

.border-bottom {
    border-bottom: none !important;
}

h2.marca {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin: 2em 0 0 0;
    font-size: x-large;
    background: #19467E;
    color: #f7f9fb;
}

.exibeMarcas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: white;
}

img.imgMarcas {
    margin: 0px 30px;
    cursor: pointer;
}

h2.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-top: 2em;
    color: #19467E;
}

.filtroSelect {
    display: flex;
}

select:nth-child(n+1) {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 16px;
    gap: 10px;
    width: 23.7%;
    height: 2.5em;
    margin: 0 1em 0 0;
    font-weight: 500;
    align-items: center;
    color: #19467E;
    border: 1px solid #19467E;
    cursor: pointer;
    outline: none;
}

select:nth-child(1) {
    margin-left: 1.5em;
}

.buscarCarro {
    background-color: white;
}

.filtroTexto {
    margin: 1.5em 0 0 1.5em;
}

input.inputFiltro {
    position: relative;
    width: 75%;
    height: 2.5em;
    color: #19467E;
    border: 1px solid #19467E;
    outline: none;
    cursor: pointer;
}

    input.inputFiltro::placeholder {
        color: #19467E;
    }

.btnSubmit {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: end;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-item.active {
    display: block;
}
