.col-12 {
    display: flex !important;
}

img#imgCarroAnuncio {
    width: 65%;
}

.ImgCarro {
    margin-top: -25px;
    display: flex;
    justify-content: flex-end;
}

.DadosCarro {
    margin-top: 2em;
    display: flex;
    padding: 3em 2em;
    justify-content: space-evenly;
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.descricaoCarro {
    background-color: white;
    padding: 1em 3em;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.SimulaParcelas {
    margin-top: 2em;
    padding: 3em 2em;
    background-color: white;
    border-radius: 8px;
    width: 98%;
}

.UsuarioSimulaParcelas {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    align-items: center;
}

input#Nome, input#Email, input#Cpf, input#Telefone {
    width: 100%;
    border-style: none;
    outline: none;
    cursor: pointer;
}

span#lblNome, span#lblEmail, span#lblCpf, span#lblTelefone {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 16px;
    width: 48%;
    height: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 500;
    align-items: center;
    color: #19467E;
    border: 1px solid #19467E;
    cursor: pointer;
    outline: none;
}

span#lblConcorda {
    display: inline-flex;
    align-items: baseline;
}

p.TermoSimulaParcela {
    padding-left: 1em;
}

.SideContatoVendedor {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    margin-left: 1em;
    width: 50%;
    height: 50%;
    position: sticky;
    top: 28.9em;
}

span#lblNome, span#lblCpf {
    margin-left: 0;
}

input#NomeContatoVendedor, input#EmailContatoVendedor, input#CpfContatoVendedor, span#lblTelefoneContatoVendedor {
    width: 100%;
    border-style: none;
    outline: none;
    cursor: pointer;
}

span#lblNomeContatoVendedor, input#EmailContatoVendedor, span#lblCpfContatoVendedor, input#TelContatoVendedor, select.SelecionaLoja {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 16px;
    width: 100% !important;
    height: 2.5em;
    font-weight: 500;
    align-items: center;
    color: #19467E;
    border: 1px solid #19467E;
    cursor: pointer;
    outline: none;
    margin-bottom: 2em;
}

.DetalhesCarro {
    width: 98%;
}

.PrecoSubtitulo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

span#lblNomeContatoVendedor {
    margin-top: 0.5em;
}

input#btnSimularParcelas {
    background-color: #19467e;
    color: #fff;
    padding: 0.625em 1.25em;
    font-size: 1em;
    border: none;
    padding-left: 22.5em;
    padding-right: 22.5em;
    cursor: pointer;
}

input#btnVerParcelas {
    background-color: #19467e;
    color: #fff;
    padding: 0.625em 1.25em;
    font-size: 1em;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
}

input#btnEnviarMensagem {
    background-color: #19467e;
    color: #fff;
    padding: 0.625em 1.25em;
    font-size: 1em;
    border: none;
    margin-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    cursor: pointer;
}

    input#btnVerParcelas:hover, input#btnEnviarMensagem:hover {
        background-color: #0c3052;
    }

input#ckbConcorda {
    margin-top: 1em;
    padding-right: 1em;
}

small.Parcelas, small.CampoObrigatorio {
    display: block;
    padding-bottom: 1em;
}

small.CampoObrigatorio {
    padding-bottom: 3em;
}

h4.TituloSimulaParcela {
    margin: 0 !important;
}

div#secaoVeiculos {
    padding: 2em 1em;
}